In [ ]:
import numpy as np
import matplotlib.pyplot as plt


# Generate a periodic time series for real data
t = np.linspace(0, 2 * np.pi, 100)
real_data = np.sin(t)

# Calculate max and min values at each time point (for illustration, we use a constant offset)
max_values = real_data + 0.5
min_values = real_data - 0.5

# Generate synthetic time series with similar periodicity
synthetic_data = np.sin(t + 0.2)  # Shifted sine wave for illustration

# Plotting the data
plt.figure(figsize=(10, 6))
plt.plot(t, max_values, label='Max values', color='red')
plt.plot(t, min_values, label='Min values', color='blue')
plt.fill_between(t, min_values, max_values, color='gray', alpha=0.3)
plt.plot(t, synthetic_data, label='Synthetic data', color='orange')

plt.xlabel('Time')
plt.ylabel('Value')
plt.title('Evaluation Metric for Synthetic Time Series')
plt.legend()
plt.show()

In [ ]:
def dynamic_time_warping_dist(X, Y, norm=np.linalg.norm):
    N = len(X)
    M = len(Y)
    D = np.zeros((N + 1, M + 1), dtype=float)
    D[:, 0] = np.inf
    D[0, :] = np.inf
    D[0][0] = 0

    for i in range(1, N + 1):
        for j in range(1, M + 1):
            m = min([D[i-1][j], D[i][j-1], D[i - 1][j - 1]])
            D[i][j] = norm(X[i - 1] - Y[j-1]) + m
    
    return D, D[N][M]

In [3]:
#from generator.acgan import Generator, Discriminator
from data_utils.dataset import PecanStreetDataset

In [3]:
import pandas as pd
from data_utils.dataset import PecanStreetDataset, prepare_dataloader

data = PecanStreetDataset()
print(data.data["dataid"].unique())
loader = prepare_dataloader(data, batch_size=32)

[4550  558 2358 3700 1417 5679 5058 2318 5997  950 5982 5587 1222  387
 3000 4283 3488 3517 9053 3996   27  142  914 2096 1240]

In [4]:
from generator.acgan import ACGAN

model = ACGAN(noise_dim=64, day_dim=64, month_dim=64, output_dim=96, learning_rate=1e-4, weight_path = 'weights/pecan' + '/_user_4550')

x = data.get_user_data(558)
x

,index,dataid,local_15min,car1,car2,grid,solar,solar2,month,day
0,4,558,2019-06-24 14:45:00-05,NaN,NaN,0.442,NaN,NaN,6,0
1,5,558,2019-06-24 14:30:00-05,NaN,NaN,0.360,NaN,NaN,6,0
2,6,558,2019-06-24 14:15:00-05,NaN,NaN,0.383,NaN,NaN,6,0
3,7,558,2019-06-24 14:00:00-05,NaN,NaN,0.336,NaN,NaN,6,0
4,196,558,2019-06-24 15:45:00-05,NaN,NaN,3.532,NaN,NaN,6,0
...,...,...,...,...,...,...,...,...,...,...
17659,441445,558,2019-10-31 22:00:00-05,NaN,NaN,0.301,NaN,NaN,10,3
17660,441579,558,2019-10-31 23:45:00-05,NaN,NaN,0.387,NaN,NaN,10,3
17661,441580,558,2019-10-31 23:30:00-05,NaN,NaN,0.658,NaN,NaN,10,3
17662,441581,558,2019-10-31 23:15:00-05,NaN,NaN,0.387,NaN,NaN,10,3
17663,441582,558,2019-10-31 23:00:00-05,NaN,NaN,0.393,NaN,NaN,10,3