In [ ]:
import numpy as np
import matplotlib.pyplot as plt


# Generate a periodic time series for real data
t = np.linspace(0, 2 * np.pi, 100)
real_data = np.sin(t)

# Calculate max and min values at each time point (for illustration, we use a constant offset)
max_values = real_data + 0.5
min_values = real_data - 0.5

# Generate synthetic time series with similar periodicity
synthetic_data = np.sin(t + 0.2)  # Shifted sine wave for illustration

# Plotting the data
plt.figure(figsize=(10, 6))
plt.plot(t, max_values, label='Max values', color='red')
plt.plot(t, min_values, label='Min values', color='blue')
plt.fill_between(t, min_values, max_values, color='gray', alpha=0.3)
plt.plot(t, synthetic_data, label='Synthetic data', color='orange')

plt.xlabel('Time')
plt.ylabel('Value')
plt.title('Evaluation Metric for Synthetic Time Series')
plt.legend()
plt.show()

In [ ]:
def dynamic_time_warping_dist(X, Y, norm=np.linalg.norm):
    N = len(X)
    M = len(Y)
    D = np.zeros((N + 1, M + 1), dtype=float)
    D[:, 0] = np.inf
    D[0, :] = np.inf
    D[0][0] = 0

    for i in range(1, N + 1):
        for j in range(1, M + 1):
            m = min([D[i-1][j], D[i][j-1], D[i - 1][j - 1]])
            D[i][j] = norm(X[i - 1] - Y[j-1]) + m
    
    return D, D[N][M]

In [1]:
from data_utils.dataset import PecanStreetDataset, split_dataset

dataset = PecanStreetDataset(normalize=True)

In [2]:
dataset.data

,dataid,month,date_day,weekday,grid
0,27,5,2,3,"[0.5494571604455577, 0.6882468090293399, 0.430..."
1,27,5,9,3,"[1.6261186606601625, 1.7017638270938176, 1.770..."
2,27,5,16,3,"[1.7770884631612278, 1.800807710263306, 1.9139..."
3,27,5,23,3,"[1.6171438104053222, 1.3402055739702468, 0.537..."
4,27,5,30,3,"[1.5943861544019766, 0.5388796583594958, 0.469..."
...,...,...,...,...,...
21931,9922,12,27,3,"[0.6809347798030465, 0.7980695428579206, 0.722..."
21932,9922,12,7,4,"[0.5744333585273798, 0.5931129676486736, 0.591..."
21933,9922,12,14,4,"[0.29084292914045623, 0.18725600583146043, 0.0..."
21934,9922,12,21,4,"[0.8002868142666651, 0.7170776463627178, 1.168..."
21935,9922,12,28,4,"[0.9734977352095768, 0.6933035983901616, 0.392..."

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import itertools

cali_file_path = "/home/fuest/EnData/data/pecanstreet/15minute_data_california.csv"
ny_file_path = "/home/fuest/EnData/data/pecanstreet/15minute_data_newyork.csv"
cali_data = pd.read_csv(cali_file_path)
ny_data = pd.read_csv(ny_file_path)
cali_data["local_15min"] = pd.to_datetime(cali_data["local_15min"])
ny_data["local_15min"] = pd.to_datetime(ny_data["local_15min"].str.strip(), format="%Y-%m-%d %H:%M:%S%z")